[defaults]
inventory = inventory.yaml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
callback_result_format = yaml
# Les fichiers temporaires d'Ansible quand on devient un utilisateur non privilégié (todolist)
allow_world_readable_tmpfiles = False

[ssh_connection]
pipelining = True
